
nav {
    text-align: right;
    padding-top: 2%;
}

nav img {
    height: 30%;
    display: inherit;
}

nav a {
    justify-content: center;
    padding: 12px;
}

#hero {
    text-align: left;
    padding-top: 13%;
    padding-bottom: 50%;
}

main {
    background-image: url("../img/header-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;

}


#hero h1 {
    color: #455560;
}

#hero h2 {
    color: #a29061;
}

@media screen and (max-width: 1000px) {
    nav a {display: table-row;}
}

#welcome {
    background-image: url("../img/welcome.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    padding-top: 8%;
    text-align: left;
}

#welcome h1 {
    color: white;
}

#welcome h2 {
    color: #a29061;
}

#welcome p {
    color: white;
    text-align: left;
}


article {
    background-image: url("../img/news.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;
}

article h1 {
    text-align: right;
    color: #4d565d;
    text-decoration: underline;
    padding-bottom: 5%;
    padding-top: 5%;
}

article h2 {
    text-align: right;
    color: #4d565d;
    padding-top: 5%;
}

footer {
    background-color: #455560;
    background-size: 100%;
    height: 20vh;
    width: 100%;
    padding-top: 3%;
}

footer a {
    display: table-row;
    color: #7d8890 !important;
    margin-top: 5%;
}

footer h2 {
    color: #7d8890 !important;

}



