
nav {
    text-align: right;
    padding-top: 2%;
}

nav img {
    height: 30%;
    display: inherit;
}

nav li {
    display: inline-block;

}

nav a {
    justify-content: center;
    padding: 12px;
    color: #a29061;

}


#hero {
    text-align: left;
    padding-top: 13%;
    padding-bottom: 50%;
}

main {
    background-image: url("../img/header-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;

}



#hero h1 {
    color: #455560;
}

#hero h2 {
    color: #a29061;
}


#welcome {
    background-image: url("../img/welcome.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 8%;
    text-align: left;
}

#welcome h1 {
    color: white;
}

#welcome h2 {
    color: #a29061;
}

#welcome p {
    color: white;
    text-align: left;
}


article {
    background-image: url("../img/news.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

article h1 {
    text-align: right;
    color: #4d565d;
    text-decoration: underline;
    padding-bottom: 5%;
    padding-top: 5%;
}

article h2 {
    text-align: right;
    color: #4d565d;
    padding-top: 5%;
}

footer {
    background-color: #455560;
    background-size: 100%;
    height: auto;
    width: 100%;
    padding-top: 3%;
}

footer a {
    display: table-row;
    color: #7d8890 !important;
    margin-top: 5%;
}

footer h2 {
    color: #7d8890 !important;

}



@media screen and (max-width: 700px) {
   #welcome p {
        color: black;
    }

    main {
        background-image: none;
    }

    #news {
       arti: none;
    }

}
#logo {
    height: 50%;
}
.spacer{
    height:50px;
}



#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: slategray;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40; }
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529; }
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: white; }
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: white !important;
    background-color: transparent; }
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: transparent; }
@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent; }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #4d565d; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #4d565d; }
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #4d565d; }
    #mainNav.navbar-shrink .navbar-brand {
        color: #F05F40; }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40; }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #212529; }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #F05F40; } }



